<style>
    body {
        text-align: center;
        align-items: center;
        background-color: #1B1F3B;
        margin: 0; /* Убираем отступы по умолчанию */
    }

    .board, .stats {
        margin-left: 5%; /* Используем относительные единицы для отступов */
        margin-right: 5%;
    }

    .cells {
        display: flex;
        flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
        justify-content: space-around; /* Равномерно распределяем элементы */
        width: 100%;
        border: 1px solid #000;
    }

    .cell {
        font-size: 8vw; /* Используем относительные единицы для размера шрифта */
        text-align: center;
        width: 30%;
        height: 0;
        padding-bottom: 30%; /* Создаем квадратные ячейки */
        cursor: pointer;
        border: 2px solid #000;
        color: #a5a39e;
    }

    .stats {
        color: white;
        width: 100%;
        display: flex;
        flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
        justify-content: space-around; /* Равномерно распределяем элементы */
        font-size: 4vw; /* Используем относительные единицы для размера шрифта */
    }

    .player1, .draw, .player2 {
        width: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        font-size: 4vw; /* Используем относительные единицы для размера шрифта */
    }

    .turn {
        color: white;
        font-size: 5vw; /* Используем относительные единицы для размера шрифта */
    }

    #closef {
        color: #EFA00B;
    }
</style>
