@font-face {
    font-family: 'PIX';
    src: url(joystix\ monospace.otf);
}

.game {
    width: 600px;
    height: 200px;
    border: 1px solid black;
    margin: auto;
}  
#score, #highscore, #text {
    font-family: 'PIX';
}
#text {
    text-align: center;
}
#dino {
    width: 50px;
    height: 50px;
    background-image: url(trex.png);
    background-size: 50px 50px;
    position: relative;
    top : 111px;
}
.jump {    
    animation: jump 0.355s linear;
}
@keyframes jump {
    0% {
        top:111px;
    }
    50% {
        top:40px;
    }
    100% {
        top: 111px;
    }
}

#cactus {
    background-image: url(cactus.png);
    width: 20px;
    height: 40px;
    top: 71px;
    left: 580px;
    background-size: 20px 40px;
    background-repeat: no-repeat;
    position: relative;
    animation: cactanim 1s infinite linear ;
}
@keyframes cactanim {
    0% {
        left : 580px;
    }
    100% {
        left : -20px;
    }
}